<%= render 'common/errors', model: @article %>

<%= form_for @article.becomes(Article) do |f| %>
   <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
   </div>
   <div class="form-group">
      <%= f.label :text %>  <br>
      <%= f.text_area :text, class: 'form-control' %>
   </div>
   <div class="form-group">
      <%= f.label :tags %>  <br>
      <%= f.text_field :tags, class: 'form-control' %>
   </div>
   <div class="form-group">
      <p><%= f.label :cover %>  <br>
        <%= image_tag(@article.cover_url) if @article.cover? %>
        <%= f.file_field :cover %>
        <%= f.hidden_field :cover_cache %></p>
      <p><label>
        <%= f.check_box :remove_cover %>
        Remove avatar
      </label></p>
   </div>
   <div class="form-group">
      <%= f.submit class: 'btn btn-primary' %>
   </div>

<% end %>
