<h1>My Article</h1>
<p>
<% if sponsored_article?(@article) %>
  <h4> Artykuł sponsorowany przez firmę <%= @article.company.name %></h4>
<% end %>
</p>
<br>
<br>
<p>
   <strong>Title:</strong>
   <%= @article.title %>
</p>
<p>
    <%= image_tag(@article.cover.url, alt: 'Image') if @article.cover? %></p>
</p>
<p>
   <strong>Text:</strong>
   <%= @article.text %>
</p>
<p>
   <strong>Author:</strong>
   <%= @article.user.email %>
</p>
<p>
   <strong>Tags:</strong>
   <% @article.tags.each do |tag| %>
      <%= link_to tag, articles_path(q: tag), class: "badge badge-pill badge-dark" %>
   <% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>

<br>
<br>

<%= pluralize(@article.likes.count, 'person') %> liked this article
<% if @like.persisted? %>
  <i class="fa fa-thumbs-down"></i>
  <%= link_to 'Unlike', article_like_path(@article, @like), method: :delete %>
<% else %>
  <i class="fa fa-thumbs-up"></i>
  <%= link_to 'Like', article_likes_path(@article), method: :post %>
<% end %>

<br>
<br>

<% if sponsored_article?(@article) %>
  <p>Komentarze zablokowane</p>
<% else %>
  <h1>Comments</h1>
  <%#= render @article.comments.includes(:user) %>
  <% @article.comments.includes(:user).each do |comment| %>
    <% if comment.opinions.sum(:opinion) < -2 %>
      <span style="background-color: Blue"> Komentarz zablokowany </span>
      <br>
      <br>
    <% else %>
      <%= render comment %>
    <% end %>
  <% end %>
<% end %>


<h3> Add a comment </h3>
<%= render 'comments/form' %>

<br>
<br>

<%= link_to 'Back', articles_path %>

<% if current_user&.admin? %>
  <%= link_to @article.published? ? "Unpublish" : "Publish", toggle_visibility_article_path(@article) %>
<% end %>
