<h1>My Article</h1>
<br>
<p>
   <strong>Title:</strong>
   <%= @article.title %>
</p>

<p>
   <strong>Text:</strong>
   <%= @article.text %>
</p>
<p>
   <strong>Author:</strong>
   <%= @article.user.email %>
</p>
<p>
   <strong>Tags:</strong>
   <% @article.tags.each do |tag| %>
      <%= link_to tag, articles_path(q: tag), class: "badge badge-pill badge-dark" %>
   <% end %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %>
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>

<br>
<br>

<%= pluralize(@article.likes.count, 'person') %> liked this article
<% if @like.persisted? %>
  <i class="fa fa-thumbs-down"></i>
  <%= link_to 'Unlike', article_like_path(@article, @like), method: :delete %>
<% else %>
  <i class="fa fa-thumbs-up"></i>
  <%= link_to 'Like', article_likes_path(@article), method: :post %>
<% end %>

<br>
<br>

<h1>Comments</h1>

<%= render @article.comments %>
<%# to samo co <% @article.comments.each do |comment| %>
                  <%#= #render comment %>
                  <%# end %>

<%= render 'comments/form' %>

<br>
<br>

<%= link_to 'Back', articles_path %>
